body,html{
	height:100%;
	margin:0;
	padding:0;
	font:400 15px/1.8 "lato", sans-serif;
	color:black;
	box-sizing:border-box;
}

li{
	list-style:none;
	display:inline-block;
}
a{
	text-decoration:none;
	color:black;
	font-weight:400;
	
}
nav ul li a{
	padding:10px;
}
header {
  position:relative;
  top: 8;
  width:100%;
  min-height: 20px;
  padding: 0px 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:rgb(109,241,246,0.8);
  color:black;
  font-weight:700;
  -webkit-text-stroke:0.5px white;
  font-size:17px;
}

#caption{
	 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  margin-top: 50px;
}
#caption input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

#caption input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border:2px solid black ;
  background-color: #d4fc79;
}

#caption input[type="submit"]:hover {
  background-color: #96e6a1;
  transition: background-color 1s;
}
.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}
.bgimg-1, .bgimg-2, .bgimg-3{
	position:relative;
	opacity:0.7;
	background-attachment:fixed;
		 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1{
	background-image: url("https://images.pexels.com/photos/1022929/pexels-photo-1022929.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	/*linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);*/
	min-height:100%;
}
.bgimg-2 {
  background-image:url("https://images.pexels.com/photos/545008/pexels-photo-545008.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); 
  /*linear-gradient(120deg, #f6d365 0%, #fda085 100%);*/
  min-height: 400px;
}

.bgimg-3 {
background-image:url("https://images.pexels.com/photos/1550564/pexels-photo-1550564.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); 
/*linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);*/
  min-height: 400px;
}
.quote{
	position:absolute;
	left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
    padding:10px;
    font-size:39px;
	font-weight:700;
	-webkit-text-stroke: 2px black;
}
@media(max-width:400px){
.quote{	
position:absolute;
	text-align: center;
    padding:5px;
    font-size:29px;
	top:40%;
	font-weight:300;
	-webkit-text-stroke: 1px black;
}
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption span.line {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
#how{
	background-image:linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
#center{
display: flex;
flex-direction: column;
align-items: center;
background-image:linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
#pricing{
	background-image:linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:12px;
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
.product{
	text-align:center;
    width: calc(100%  / 3);
    border: 1px solid white;
    border-radius: 3px;
	padding:8px;
}

.product > .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  text-align:center;
}

.product > button {
  border: 1px solid black;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
}

.product > button:hover {
  background-color: orange;
  transition: background-color 1s;
}
@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}
footer{
	text-align:right;
	font-weight:bold;
}
